---
import { getEntry, render } from 'astro:content';

import FactorySettingsSetting from './_setting.component.astro';

interface Props {
  slug: string;
}

const { slug } = Astro.props;
const entry = await getEntry('factory-settings', slug);
if (!entry) throw new Error(`Missing factory-settings entry: ${slug}`);
const { Content } = await render(entry);
---

<div class="mb-5">
  <h3 class="relative flex items-center">
    {entry.data.section}
  </h3>

  {
    entry.data.settings && (
      <div>
        {entry.data.settings?.map((setting) => (
          <FactorySettingsSetting section={entry.data.section} setting={setting} />
        ))}
      </div>
    )
  }

  <Content />
</div>
