---
import Layout from "../shared/layout/base-layout.astro";
---
<Layout title="About">
    <article class="prose dark:prose-invert max-w-none">
        <p>This site was created as a reference point and to collect further information around the third-party Android Head Units running KSW software for car brands like Audi, Benz, BMW, Mini and others.</p>
        <p>Join the conversation on <a href="https://discord.gg/Ex8e6qE2eR">Android Automotive Headunits Discord</a> or various forums like <a href="https://f30.bimmerpost.com/forums/showthread.php?t=1832178">Bimmerpost and its Android 11/12/13 thread</a>.</p>
    </article>
</Layout>
