
---
import Layout from "../shared/layout/base-layout.astro";
import { getUpdatesByPlatform } from "../modules/updates/updates";

const platforms = await getUpdatesByPlatform();

---
<Layout title="Updates">
    <div class="prose dark:prose-invert">
        {platforms.map(platform => (
            <div>
                <h3>{platform.data.name}</h3>
                <ul>
                    {platform.data.entries.map(entry => (
                        <li>
                            <a href={`/updates/${entry.slug}`}>{entry.data.id}</a>
                            <time datetime={entry.data.date}>{entry.data.date.toString().slice(0,10)}</time>
                        </li>
                    ))}
                </ul>
            </div>
        ))}
    </div>
</Layout>
