---
import { z } from 'astro:content';
import { signaturesSchema } from "./collection";

interface Props {
    signatures: z.infer<typeof signaturesSchema>;
}

const { signatures  } = Astro.props;
const entries = Object.entries(signatures);
entries.sort((a, b) => a[0].localeCompare(b[0]))

---
<h4>File signatures</h4>
<ul>
    {entries.map(entry => (
        <li>{entry[0]}: {entry[1]}</li>
    ))}
</ul>
