---
import { getEntry } from "astro:content";
import Setting from './setting.component.astro';

interface Props {
    slug: string;
}

const { slug } = Astro.props;
const entry = await getEntry('factory-settings', slug);
const { Content } = await entry.render();
---
<article class="prose dark:prose-invert max-w-none mb-5">
    <h3 class="flex items-center relative">
        {entry.data.section}
    </h3>

    {entry.data.settings?.map(setting => (
        <Setting section={entry.data.section} setting={setting}></Setting>
    ))}

    <Content />
</article>
