---
import Moon from 'astro-heroicons/outline/Moon.astro';
import Sun from 'astro-heroicons/outline/Sun.astro';
---

<button
  id="color-scheme-switch"
  type="button"
  class="flex w-full gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white"
>
  <Sun class="hidden h-6 w-6 shrink-0 dark:inline" aria-hidden="true" />
  <Moon class="h-6 w-6 shrink-0 dark:hidden" aria-hidden="true" />
  <span
    >Switch to <span class="dark:hidden">dark</span><span class="hidden dark:inline">light</span> mode</span
  >
</button>

<style>
  :global(.dark) {
    color-scheme: dark;
  }
</style>

<script>
  const button = document.querySelector<HTMLButtonElement>('#color-scheme-switch');
  if (!button) throw new Error('color-scheme switch not found');
  const localTheme = localStorage.getItem('theme');
  const matcher = globalThis.matchMedia('(prefers-color-scheme: dark)');
  let systemTheme = matcher.matches ? 'dark' : 'light';

  const updateDocument = (value: string) => {
    document.documentElement.classList.remove('light', 'dark');
    document.documentElement.classList.add(value);
    document.documentElement.dataset.theme = value;
  };

  const updateTheme = (value: string) => {
    const theme = value === 'system' ? systemTheme : value;
    updateDocument(theme);
    localStorage.setItem('theme', value);
  };

  matcher.addEventListener('change', (event) => {
    const theme = event.matches ? 'dark' : 'light';
    systemTheme = theme;
    if (localStorage.getItem('theme') === 'system') {
      updateDocument(theme);
    }
  });

  button.value = localTheme || systemTheme;
  updateTheme(button.value);

  button.addEventListener('click', () => {
    const setTheme = button.value === 'dark' ? 'light' : 'dark';
    button.value = setTheme;
    updateTheme(setTheme);
  });
</script>
