---
import { getEntry } from 'astro:content';

import { URL_PREFIX } from "../../shared/config";
import Layout from '../../shared/layout/base-layout.astro';
import {getEntryStaticPathsFromCollection, getVendorSlug} from '../../shared/utilities';

export async function getStaticPaths() {
    return await getEntryStaticPathsFromCollection('faq');
}

const { slug } = Astro.params;
const vendor = await getEntry('vendors', getVendorSlug(slug));
const entry = await getEntry('faq', slug);
const { Content } = await entry.render();
---
<Layout title={`${entry.data.question}`}>
    <div class="prose dark:prose-invert break-words">
        <Content />
        <a href={`${URL_PREFIX}faq/${vendor.slug}`}>Back to all {vendor.data.name} FAQs</a>
    </div>
</Layout>
