---
import { getEntry, render } from "astro:content";
import { URL_PREFIX } from "../../shared/config";

import QuestionMarkCircle from 'astro-heroicons/outline/QuestionMarkCircle.astro';

interface Props {
    slug: string;
}

const { slug } = Astro.props;
const entry = await getEntry('faq', slug);
const { Content } = await render(entry);
---
<article class="prose dark:prose-invert prose-pre:my-1 max-w-none">
    <h3 class="flex items-center relative">
        <QuestionMarkCircle class="w-6 h-6 mr-2" />
        <a href={`${URL_PREFIX}faq/${entry.id}`}>
            <span aria-hidden="true" class="absolute inset-0"></span>
            {entry.data.question}
        </a>
    </h3>
    <div>
        <Content />
    </div>
</article>
